.btn{
    -fx-background-radius:7px;
    -fx-background-color: rgba(37, 37, 38, 0);
    -fx-border-color: rgba(63, 63, 70, 0);
    -fx-text-fill: #ffffff;
}

.btn:hover{
    -fx-text-fill: #747474;
    -fx-background-radius:7px;
    -fx-border-color: rgba(0, 122, 204, 0.11);
    -fx-background-color: rgba(63, 63, 70, 0.26);
}

.txf_username{
    -fx-border-width: 0px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-background-color: rgba(124, 124, 128, 0.8);
    -fx-text-fill: #ffffff;
}
.txf_username:hover{
    -fx-border-color: rgba(0,122,204,1);

}
.txf_username:focused{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}
/*.btn_exit{*/
/*    -fx-background-radius:0px;*/
/*    -fx-background-color: rgba(37,37,38,1);*/
/*}*/
/*.btn_exit:hover{*/
/*    -fx-border-color: rgba(0,122,204,1);*/
/*    -fx-border-width: 0;*/
/*    -fx-background-color: rgba(255, 84, 57, 1);*/
/*    -fx-text-fill: white;*/
/*}*/

/*.frame{*/
/*    -fx-background-radius:7px;*/
/*    -fx-background-color: rgba(37, 37, 38, 0);*/
/*}*/

/*.text-field{*/
/*    -fx-border-width: 1px;*/
/*    -fx-background-radius:0px;*/
/*    -fx-border-color: rgb(0, 0, 0);*/
/*    -fx-background-color: rgba(11, 11, 14, 0.85);*/
/*    -fx-text-fill: white ;*/
/*}*/

/*.text-field:hover{*/
/*    -fx-border-color: rgba(0,122,204,1);*/
/*    -fx-background-color: rgba(63, 63, 70, 1);*/
/*}*/
/*.text-field:focused{*/
/*    -fx-border-color: rgba(0,122,204,1);*/
/*    -fx-background-color: rgba(63, 63, 70, 1);*/
/*}*/

/*.label{*/
/*    -fx-text-fill: white;*/
/*}*/