.btn{
    -fx-background-radius:5px;
    -fx-background-color: rgba(19, 19, 20, 0.86);

}
.btn_exit{
    -fx-background-radius:5px;
    -fx-background-color: rgba(37,37,38,1);
}
.btn_exit:hover{
    -fx-background-radius:5px;
    -fx-border-color: rgba(0,122,204,1);
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 9, 9, 0.76);
    -fx-text-fill: white;
}

.btn:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(28, 104, 133, 0.7);
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.frame{
    -fx-background-color: rgba(37,37,38,1);
}

.txf_username{
    -fx-border-width: 0px;
    -fx-background-radius:5px;
    -fx-border-color:rgba(63,63,70,1);
    -fx-background-color: rgb(29, 29, 29);
    -fx-text-fill: white ;
}
.txf_username:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}
.txf_username:focused{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}


