.btn{
    -fx-background-radius:5px;
    -fx-background-color: #282828BF;
}

.btn:pressed{
    -fx-background-color: rgba(28, 104, 133, 0.7);
    -fx-border-width: 0;
    -fx-text-fill: white;
}
.btn_exit{
    -fx-background-radius:5px;
    -fx-background-color: rgba(37,37,38,1);
}
.btn_exit:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 9, 9, 0.75);
    -fx-text-fill: white;
}


.btn:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(28, 104, 133, 0.7);
    -fx-border-width: 0;
    -fx-text-fill: white;

}

.frame{
    -fx-background-color: #28282855;
    -fx-background-radius:7px;
}


.txf_username{
    -fx-border-width: 0px;
    -fx-background-radius:7px;
    -fx-border-color:rgba(63,63,70,1);
    -fx-background-color: rgba(51, 51, 55, 0.22);
    -fx-text-fill: white ;
}
.txf_username:hover{
    -fx-border-color: rgba(0,122,204,1);

}
.txf_username:focused{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}

.tab-label{
    -fx-text-fill: white;
}

.tab-header-background{
    -fx-background-color: #282828BF;

}

.tab{
    -fx-background-color: #282828BF;
}

.tab-content-area{
    -fx-background-color: #282828BF;
}

.tab-pane * .tab-header-area * .tab-header-background {
    -fx-background-color: #282828BF;
}

.table_Ktrdata{
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-alignment: center;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 1px;
}
.table-column{
    -fx-background-color: #282828BF;
    -fx-border-width: 1px;
}

.table-view .filler {
    -fx-background-color: #282828BF;
    -fx-border-width: 1px;
}
.table-header-background{
    -fx-background-color: rgba(136, 136, 136, 0.99);
    -fx-border-width: 1px;
}
.table-row-cell,.table-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: #282828BF;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
    -fx-alignment: center ;
}
.tabel-column-header{
    -fx-background-color: #282828BF;
    -fx-border-width: 1px;
}
.table-row-cell:selected .table-cell {
    -fx-background-color: rgba(23, 97, 253, 0.65);
}

.tool-bar{
    -fx-background-color: rgba(40, 40, 40, 0);
}
.menu{
    -fx-background-color: #282828BF;
}
.menu-bar{
    -fx-background-color: #282828BF;
}
.menu-item{
    -fx-background-color: #282828;
}

.menu-button{
    -fx-background-color: rgba(0, 0, 0, 0.45);
    -fx-highlight-fill: green;
}
.menu-button .label{
     -fx-text-fill: rgb(255, 255, 255);
 }

.menu-btn {
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
    -fx-background-color: rgb(40, 43, 51);
    -fx-text-fill: rgb(191, 192, 194);
}
