.btn{
    -fx-background-radius:5px;
    -fx-background-color: rgba(19, 19, 20, 0.86);
}

.btn:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(28, 104, 133, 0.7);
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.btn_exit{
    -fx-background-radius:5px;
    -fx-background-color: rgba(37,37,38,1);
}
.btn_exit:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 84, 57, 1);
    -fx-text-fill: white;
}

.frame{
    -fx-background-color: rgba(37,37,38,1);
    -fx-border-width: 1;
    -fx-border-color: rgba(0,122,204,1);
}