.btn{
    -fx-background-radius:5px;
    -fx-background-color: #282828BF;
}

.btn:pressed{
    -fx-background-color: rgba(28, 104, 133, 0.7);
    -fx-border-width: 0;
    -fx-text-fill: white;
}
.btn_exit{
    -fx-background-radius:5px;
    -fx-background-color: rgba(37,37,38,1);
}
.btn_exit:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-border-width: 0;
    -fx-background-color: rgba(255, 9, 9, 0.75);
    -fx-text-fill: white;
}


.btn:hover{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(28, 104, 133, 0.7);
    -fx-border-width: 0;
    -fx-text-fill: white;

}

.frame{
    -fx-background-color: #28282855;
}


.txf_username{
    -fx-border-width: 0px;
    -fx-background-radius:0px;
    -fx-border-color:rgba(63,63,70,1);
    -fx-background-color: rgba(51, 51, 55, 0.22);
    -fx-text-fill: white ;
}
.txf_username:hover{
    -fx-border-color: rgba(0,122,204,1);

}
.txf_username:focused{
    -fx-border-color: rgba(0,122,204,1);
    -fx-background-color: rgba(63, 63, 70, 1);
}

.tab-label{
    -fx-text-fill: white;
}

.tab-header-background{
    -fx-background-color: #282828BF;
}

.tab{
    -fx-background-color: #282828BF;

}

.tab-content-area{
    -fx-background-color: #282828BF;
}

.tab-pane * .tab-header-area * .tab-header-background {
    -fx-background-color: #282828BF;
}
.table_Ktrdata{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-background-radius: 7px;
}

.table-row-cell,.table-cell {
    -fx-text-fill: #000000;
    -fx-background-color: #282828BF;
    -fx-font-weight: bold;
    -fx-alignment: center   ;
    -fx-background-radius: 7px;
}
.table-row-cell:selected .table-cell {
    -fx-background-color: #000000aa;
    -fx-background-radius: 7px;
}

.table-column{
    -fx-background-color: rgb(32, 32, 32);
}

.tool-bar{
    -fx-background-color: rgba(40, 40, 40, 0);
}
.menu-bar{
    -fx-background-color: #282828BF;
}